openapi: 3.1.0
info:
  title: EDData API
  description: |
    REST API for accessing Elite Dangerous game data collected from EDDN (Elite Dangerous Data Network).
    
    The API provides comprehensive data about:
    - Over 150 million star systems with detailed location data
    - Millions of trade orders for commodities and markets
    - Hundreds of thousands of stations, ports, and fleet carriers
    - Real-time updates from the Elite Dangerous community
    
    **Related Services:**
    - [EDData Collector](https://github.com/EDDataAPI/eddata-collector) - Data collection from EDDN
    - [EDData Web](https://github.com/EDDataAPI/eddata-web) - Web interface
    - [EDData Auth](https://github.com/EDDataAPI/eddata-auth) - Authentication service
  version: 1.0.0
  contact:
    name: EDData API Support
    url: https://github.com/EDDataAPI/eddata-api
  license:
    name: AGPL-3.0
    url: https://www.gnu.org/licenses/agpl-3.0

servers:
  - url: https://api.eddata.dev
    description: Production API
  - url: http://localhost:3001
    description: Local development

tags:
  - name: General
    description: API information, statistics, and health checks
  - name: News
    description: Galnet news and market ticker
  - name: Commodities
    description: Commodity trading data and reports
  - name: Systems
    description: Star system information and nearby searches
  - name: Stations
    description: Station information and rankings
  - name: Markets
    description: Market and station trading data
  - name: Search
    description: Search functionality

paths:
  /api/health:
    get:
      tags:
        - General
      summary: Service health check
      description: Returns the overall health status of the API service
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  timestamp:
                    type: string
                    format: date-time
                  uptime:
                    type: integer
                    description: Service uptime in seconds
                  version:
                    type: string
        '503':
          description: Service is unhealthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [unhealthy]
                  timestamp:
                    type: string
                    format: date-time
                  error:
                    type: string

  /api/health/database:
    get:
      tags:
        - General
      summary: Database health check
      description: Returns database connectivity status with statistics
      operationId: getDatabaseHealth
      responses:
        '200':
          description: Database is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [healthy]
                  timestamp:
                    type: string
                    format: date-time
                  database:
                    type: object
                    properties:
                      systems:
                        type: integer
                      stations:
                        type: integer
                      connected:
                        type: boolean
        '503':
          description: Database is unhealthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [unhealthy]
                  timestamp:
                    type: string
                    format: date-time
                  error:
                    type: string
                  database:
                    type: object
                    properties:
                      connected:
                        type: boolean
                        enum: [false]

  /api/status:
    get:
      tags:
        - General
      summary: Server status check
      description: Server status endpoint (alias for health check) - commonly used by frontend applications
      operationId: getStatus
      responses:
        '200':
          description: Server is operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "ok"
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-11-18T14:30:00.000Z"
                  uptime:
                    type: integer
                    example: 3600
                    description: Server uptime in seconds
                  version:
                    type: string
                    example: "1.0.0"
        '503':
          description: Server unavailable
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "error"
                  timestamp:
                    type: string
                    format: date-time
                  error:
                    type: string
                    example: "Service temporarily unavailable"

  /v2/health:
    get:
      tags:
        - General
      summary: Simple health check
      description: Basic health check endpoint for monitoring
      operationId: getSimpleHealth
      responses:
        '200':
          description: Service is running
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  timestamp:
                    type: string
                    format: date-time
                  uptime:
                    type: integer
                    description: Service uptime in seconds

  /api/v2/version:
    get:
      tags:
        - General
      summary: Get API version
      description: Returns the current version of the EDData API software
      operationId: getVersion
      responses:
        '200':
          description: API version information
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: "1.0.0"

  /api/v2/stats:
    get:
      tags:
        - General
      summary: Get database statistics
      description: Returns comprehensive statistics about the databases (updated every 15 minutes by collector)
      operationId: getStats
      responses:
        '200':
          description: Database statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  systems:
                    type: integer
                    example: 102694411
                  pointsOfInterest:
                    type: integer
                    example: 1500000
                  stations:
                    type: object
                    properties:
                      stations:
                        type: integer
                        example: 42695
                      carriers:
                        type: integer
                        example: 5360
                      updatedInLast24Hours:
                        type: integer
                        example: 563215
                  trade:
                    type: object
                    properties:
                      markets:
                        type: integer
                        example: 16419
                      orders:
                        type: integer
                        example: 10773236
                      updatedInLast24Hours:
                        type: integer
                        example: 563215
                      uniqueCommodities:
                        type: integer
                        example: 150
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-11-14T12:00:00Z"

  /v2/version:
    get:
      tags:
        - General
      summary: Get API version (no /api prefix)
      description: Returns the current version of the EDData API software
      operationId: getVersionShort
      responses:
        '200':
          description: API version information
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: "1.0.0"

  /api/v2/endpoints:
    get:
      tags:
        - General
      summary: List all available endpoints
      description: Returns a comprehensive list of all available API endpoints organized by category
      operationId: getEndpoints
      responses:
        '200':
          description: List of all API endpoints
          content:
            application/json:
              schema:
                type: object
                properties:
                  version:
                    type: string
                    example: "1.0.0"
                  baseUrl:
                    type: string
                    example: "https://api.eddata.dev"
                  totalEndpoints:
                    type: integer
                    example: 32
                  note:
                    type: string
                    example: "All endpoints support dual patterns: /api/v2/* and /v2/*"
                  categories:
                    type: object
                    properties:
                      general:
                        type: array
                        items:
                          type: object
                          properties:
                            method:
                              type: string
                              example: "GET"
                            path:
                              type: string
                              example: "/v2/version"
                            description:
                              type: string
                              example: "Get API version"
                      news:
                        type: array
                        items:
                          type: object
                          properties:
                            method:
                              type: string
                            path:
                              type: string
                            description:
                              type: string
                      commodities:
                        type: array
                        items:
                          type: object
                          properties:
                            method:
                              type: string
                            path:
                              type: string
                            description:
                              type: string
                      systems:
                        type: array
                        items:
                          type: object
                          properties:
                            method:
                              type: string
                            path:
                              type: string
                            description:
                              type: string
                      stations:
                        type: array
                        items:
                          type: object
                          properties:
                            method:
                              type: string
                            path:
                              type: string
                            description:
                              type: string
                      markets:
                        type: array
                        items:
                          type: object
                          properties:
                            method:
                              type: string
                            path:
                              type: string
                            description:
                              type: string
                      search:
                        type: array
                        items:
                          type: object
                          properties:
                            method:
                              type: string
                            path:
                              type: string
                            description:
                              type: string
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-11-18T15:00:00Z"

  /v2/endpoints:
    get:
      tags:
        - General
      summary: List all available endpoints (no /api prefix)
      description: Returns a comprehensive list of all available API endpoints organized by category
      operationId: getEndpointsShort
      responses:
        '200':
          description: List of all API endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointsList'

  /api/endpoints:
    get:
      tags:
        - General
      summary: List all available endpoints (legacy)
      description: Legacy endpoint that returns a comprehensive list of all available API endpoints (identical to /v2/endpoints)
      operationId: getEndpointsLegacy
      responses:
        '200':
          description: List of all API endpoints
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointsList'

  /v2/stats:
    get:
      tags:
        - General
      summary: Get database statistics (no /api prefix)
      description: Returns comprehensive statistics about the databases (updated every 15 minutes by collector)
      operationId: getStatsShort
      responses:
        '200':
          description: Database statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  systems:
                    type: integer
                    example: 102694411
                  pointsOfInterest:
                    type: integer
                    example: 1500000
                  stations:
                    type: object
                    properties:
                      stations:
                        type: integer
                        example: 42695
                      carriers:
                        type: integer
                        example: 5360
                      updatedInLast24Hours:
                        type: integer
                        example: 563215
                  trade:
                    type: object
                    properties:
                      markets:
                        type: integer
                        example: 16419
                      orders:
                        type: integer
                        example: 10773236
                      updatedInLast24Hours:
                        type: integer
                        example: 563215
                      uniqueCommodities:
                        type: integer
                        example: 150
                  timestamp:
                    type: string
                    format: date-time
                    example: "2025-11-14T12:00:00Z"

  /api/v2/stats/database/size:
    get:
      tags:
        - General
      summary: Get database size information
      description: Returns current database size estimates and record counts for all databases
      operationId: getDatabaseSize
      responses:
        '200':
          description: Database size information
          content:
            application/json:
              schema:
                type: object
                properties:
                  databases:
                    type: object
                  summary:
                    type: object
                  timestamp:
                    type: string
                    format: date-time
                  note:
                    type: string

  /v2/stats/database/size:
    get:
      tags:
        - General
      summary: Get database size information (no /api prefix)
      description: Returns current database size estimates and record counts for all databases
      operationId: getDatabaseSizeShort
      responses:
        '200':
          description: Database size information

  /api/v2/stats/database/tables:
    get:
      tags:
        - General
      summary: Get detailed table statistics
      description: Returns table-level statistics for all databases including record counts
      operationId: getTableStats
      responses:
        '200':
          description: Table statistics

  /v2/stats/database/tables:
    get:
      tags:
        - General
      summary: Get detailed table statistics (no /api prefix)
      description: Returns table-level statistics for all databases including record counts
      operationId: getTableStatsShort
      responses:
        '200':
          description: Table statistics

  /api/v2/stats/stations/types:
    get:
      tags:
        - General
      summary: Get station types statistics
      description: Returns breakdown of station types and their counts
      operationId: getStationTypes
      responses:
        '200':
          description: Station types statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  stationTypes:
                    type: object
                    additionalProperties:
                      type: integer
                    example:
                      Coriolis: 5000
                      Orbis: 3000
                      Outpost: 10000
                  total:
                    type: integer
                    example: 42695

  /api/v2/stats/stations/economies:
    get:
      tags:
        - General
      summary: Get station economies statistics
      description: Returns breakdown of station economies and their counts
      operationId: getStationEconomies
      responses:
        '200':
          description: Station economies statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  economies:
                    type: object
                    additionalProperties:
                      type: integer
                  total:
                    type: integer

  /api/v2/news/galnet:
    get:
      tags:
        - News
      summary: Get Galnet news
      description: Returns the latest Galnet news articles from Elite Dangerous
      operationId: getGalnetNews
      responses:
        '200':
          description: Galnet news articles
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    published:
                      type: string
                      format: date-time
                    date:
                      type: string
                    title:
                      type: string
                    text:
                      type: string
                    slug:
                      type: string
                    image:
                      type: string
                      format: uri
                    url:
                      type: string
                      format: uri

  /api/v2/news/commodities:
    get:
      tags:
        - News
      summary: Get commodity market ticker
      description: Returns recent commodity market updates from the top 50 most recently updated stations. Shows high-demand imports and high-stock exports. Excludes Fleet Carriers. Updated hourly. Only includes data from the last 24 hours.
      operationId: getCommodityTicker
      responses:
        '200':
          description: Commodity market ticker data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'
  
  /v2/news/commodities:
    get:
      tags:
        - News
      summary: Get commodity market ticker (no /api prefix)
      description: Returns recent commodity market updates from the top 50 most recently updated stations. Shows high-demand imports and high-stock exports. Excludes Fleet Carriers. Updated hourly. Only includes data from the last 24 hours.
      operationId: getCommodityTickerShort
      responses:
        '200':
          description: Commodity market ticker data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'

  /api/v2/commodities:
    get:
      tags:
        - Commodities
      summary: Get commodities report
      description: Returns all known traded commodities with price ranges and supply/demand totals (excludes Fleet Carriers, updated daily)
      operationId: getCommodities
      responses:
        '200':
          description: Commodities report
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityReport'

  /v2/commodities:
    get:
      tags:
        - Commodities
      summary: Get commodities report (no /api prefix)
      description: Returns all known traded commodities with price ranges and supply/demand totals (excludes Fleet Carriers, updated daily)
      operationId: getCommoditiesShort
      responses:
        '200':
          description: Commodities report
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityReport'

  /api/v2/commodities/top:
    get:
      tags:
        - Commodities
      summary: Get top 30 commodities
      description: Returns top 30 commodities ranked by trading activity (market count and total stock)
      operationId: getTopCommodities
      responses:
        '200':
          description: Top commodities
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/CommodityReport'
                    - type: object
                      properties:
                        marketCount:
                          type: integer
                          description: Number of markets trading this commodity
                          example: 1500

  /v2/commodities/top:
    get:
      tags:
        - Commodities
      summary: Get top 30 commodities (no /api prefix)
      description: Returns top 30 commodities ranked by trading activity (market count and total stock)
      operationId: getTopCommoditiesShort
      responses:
        '200':
          description: Top commodities
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/CommodityReport'
                    - type: object
                      properties:
                        marketCount:
                          type: integer
                          description: Number of markets trading this commodity
                          example: 1500

  /api/v2/commodity/name/{commodityName}:
    get:
      tags:
        - Commodities
      summary: Get commodity information
      description: Returns summary report for a specific commodity
      operationId: getCommodity
      parameters:
        - $ref: '#/components/parameters/CommodityName'
      responses:
        '200':
          description: Commodity information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityReport'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/commodity/name/{commodityName}/imports:
    get:
      tags:
        - Commodities
      summary: Get commodity importers
      description: Returns places importing a commodity (where you can sell), ordered by highest price. Returns best 100 matching results.
      operationId: getCommodityImporters
      parameters:
        - $ref: '#/components/parameters/CommodityName'
        - $ref: '#/components/parameters/MinVolume'
        - $ref: '#/components/parameters/MinPrice'
        - $ref: '#/components/parameters/FleetCarriers'
        - $ref: '#/components/parameters/MaxDaysAgo'
      responses:
        '200':
          description: List of importers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/commodity/name/{commodityName}/exports:
    get:
      tags:
        - Commodities
      summary: Get commodity exporters
      description: Returns places exporting a commodity (where you can buy), ordered by lowest price. Returns best 100 matching results.
      operationId: getCommodityExporters
      parameters:
        - $ref: '#/components/parameters/CommodityName'
        - $ref: '#/components/parameters/MinVolume'
        - $ref: '#/components/parameters/MaxPrice'
        - $ref: '#/components/parameters/FleetCarriers'
        - $ref: '#/components/parameters/MaxDaysAgo'
      responses:
        '200':
          description: List of exporters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/system/name/{systemName}:
    get:
      tags:
        - Systems
      summary: Get system information
      description: Returns information about a star system by name
      operationId: getSystemByName
      parameters:
        - $ref: '#/components/parameters/SystemName'
      responses:
        '200':
          description: System information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System'
        '404':
          $ref: '#/components/responses/NotFound'

  /v2/system/name/{systemName}:
    get:
      tags:
        - Systems
      summary: Get system information (no /api prefix)
      description: Returns information about a star system by name
      operationId: getSystemByNameShort
      parameters:
        - $ref: '#/components/parameters/SystemName'
      responses:
        '200':
          description: System information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/systems/top:
    get:
      tags:
        - Systems
      summary: Get top 30 systems
      description: Returns top 30 systems ranked by permanent station count (excludes Fleet Carriers)
      operationId: getTopSystems
      responses:
        '200':
          description: Top systems by station count
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/System'
                    - type: object
                      properties:
                        permanentStationCount:
                          type: integer
                          description: Number of permanent stations (excludes Fleet Carriers)
                          example: 25

  /v2/systems/top:
    get:
      tags:
        - Systems
      summary: Get top 30 systems (no /api prefix)
      description: Returns top 30 systems ranked by permanent station count (excludes Fleet Carriers)
      operationId: getTopSystemsShort
      responses:
        '200':
          description: Top systems by station count
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/System'
                    - type: object
                      properties:
                        permanentStationCount:
                          type: integer
                          description: Number of permanent stations (excludes Fleet Carriers)
                          example: 25

  /api/v2/system/address/{systemAddress}:
    get:
      tags:
        - Systems
      summary: Get system information by address
      description: Returns information about a star system by system address (for disambiguation)
      operationId: getSystemByAddress
      parameters:
        - $ref: '#/components/parameters/SystemAddress'
      responses:
        '200':
          description: System information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/system/name/{systemName}/nearby:
    get:
      tags:
        - Systems
      summary: Get nearby systems
      description: Returns up to 1000 nearby systems, ordered by distance
      operationId: getNearbySystems
      parameters:
        - $ref: '#/components/parameters/SystemName'
        - $ref: '#/components/parameters/MaxDistance'
      responses:
        '200':
          description: List of nearby systems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NearbySystem'

  /api/v2/system/name/{systemName}/nearest/{service}:
    get:
      tags:
        - Systems
      summary: Get nearest station with service
      description: |
        Find the nearest station providing a specific service. Returns 20 nearest matching stations.
        
        Available services:
        - interstellar-factors
        - material-trader
        - technology-broker
        - black-market
        - universal-cartographics
        - refuel
        - repair
        - shipyard
        - outfitting
        - search-and-rescue
      operationId: getNearestService
      parameters:
        - $ref: '#/components/parameters/SystemName'
        - name: service
          in: path
          required: true
          schema:
            type: string
            enum:
              - interstellar-factors
              - material-trader
              - technology-broker
              - black-market
              - universal-cartographics
              - refuel
              - repair
              - shipyard
              - outfitting
              - search-and-rescue
        - $ref: '#/components/parameters/MinLandingPadSize'
      responses:
        '200':
          description: List of stations with the service
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'

  /api/v2/system/name/{systemName}/commodities:
    get:
      tags:
        - Systems
      summary: Get system commodities
      description: Returns all known trade orders in a system
      operationId: getSystemCommodities
      parameters:
        - $ref: '#/components/parameters/SystemName'
      responses:
        '200':
          description: List of commodity orders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'

  /api/v2/system/name/{systemName}/commodities/imports:
    get:
      tags:
        - Systems
      summary: Get system commodity imports
      description: Returns commodities imported by a system (where you can sell)
      operationId: getSystemImports
      parameters:
        - $ref: '#/components/parameters/SystemName'
        - $ref: '#/components/parameters/MinVolume'
        - $ref: '#/components/parameters/MinPrice'
        - $ref: '#/components/parameters/FleetCarriers'
        - $ref: '#/components/parameters/MaxDaysAgo'
      responses:
        '200':
          description: List of imports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'

  /api/v2/system/name/{systemName}/commodities/exports:
    get:
      tags:
        - Systems
      summary: Get system commodity exports
      description: Returns commodities exported by a system (where you can buy)
      operationId: getSystemExports
      parameters:
        - $ref: '#/components/parameters/SystemName'
        - $ref: '#/components/parameters/MinVolume'
        - $ref: '#/components/parameters/MaxPrice'
        - $ref: '#/components/parameters/FleetCarriers'
        - $ref: '#/components/parameters/MaxDaysAgo'
      responses:
        '200':
          description: List of exports
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'

  /api/v2/system/name/{systemName}/commodity/name/{commodityName}:
    get:
      tags:
        - Systems
      summary: Get commodity trade data in system
      description: Returns all buy/sell orders for a commodity in a specific system
      operationId: getSystemCommodity
      parameters:
        - $ref: '#/components/parameters/SystemName'
        - $ref: '#/components/parameters/CommodityName'
        - $ref: '#/components/parameters/MaxDaysAgo'
      responses:
        '200':
          description: Commodity orders in system
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'

  /api/v2/system/name/{systemName}/commodity/name/{commodityName}/nearby/imports:
    get:
      tags:
        - Systems
      summary: Get nearby commodity importers
      description: Returns nearby places importing a commodity, ordered by highest price. First 1000 results.
      operationId: getNearbyCommodityImporters
      parameters:
        - $ref: '#/components/parameters/SystemName'
        - $ref: '#/components/parameters/CommodityName'
        - $ref: '#/components/parameters/MinVolume'
        - $ref: '#/components/parameters/MinPrice'
        - $ref: '#/components/parameters/FleetCarriers'
        - $ref: '#/components/parameters/MaxDistance'
        - $ref: '#/components/parameters/MaxDaysAgo'
      responses:
        '200':
          description: List of nearby importers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'

  /api/v2/system/name/{systemName}/commodity/name/{commodityName}/nearby/exports:
    get:
      tags:
        - Systems
      summary: Get nearby commodity exporters
      description: Returns nearby places exporting a commodity, ordered by lowest price. First 1000 results.
      operationId: getNearbyCommodityExporters
      parameters:
        - $ref: '#/components/parameters/SystemName'
        - $ref: '#/components/parameters/CommodityName'
        - $ref: '#/components/parameters/MinVolume'
        - $ref: '#/components/parameters/MaxPrice'
        - $ref: '#/components/parameters/FleetCarriers'
        - $ref: '#/components/parameters/MaxDistance'
        - $ref: '#/components/parameters/MaxDaysAgo'
      responses:
        '200':
          description: List of nearby exporters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CommodityOrder'

  /api/v2/market/{marketId}/commodity/name/{commodityName}:
    get:
      tags:
        - Markets
      summary: Get commodity data for specific market
      description: Returns commodity information for a specific market (useful for rare goods)
      operationId: getMarketCommodity
      parameters:
        - name: marketId
          in: path
          required: true
          schema:
            type: integer
            format: int64
          example: 128106744
        - $ref: '#/components/parameters/CommodityName'
      responses:
        '200':
          description: Commodity data for market
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommodityOrder'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/v2/search/system/name/{searchTerm}:
    get:
      tags:
        - Search
      summary: Search systems by name
      description: Search for star systems by name (partial match supported)
      operationId: searchSystems
      parameters:
        - name: searchTerm
          in: path
          required: true
          schema:
            type: string
          example: "Sol"
      responses:
        '200':
          description: List of matching systems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/System'

  /v2/search/system/name/{searchTerm}:
    get:
      tags:
        - Search
      summary: Search systems by name (no /api prefix)
      description: Search for star systems by name (partial match supported)
      operationId: searchSystemsShort
      parameters:
        - name: searchTerm
          in: path
          required: true
          schema:
            type: string
          example: "Sol"
      responses:
        '200':
          description: List of matching systems
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/System'

  /api/v2/search/station/name/{searchTerm}:
    get:
      tags:
        - Search
      summary: Search stations by name
      description: Search for stations by name (partial match supported)
      operationId: searchStations
      parameters:
        - name: searchTerm
          in: path
          required: true
          schema:
            type: string
          example: "Jameson"
      responses:
        '200':
          description: List of matching stations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'

  /v2/search/station/name/{searchTerm}:
    get:
      tags:
        - Search
      summary: Search stations by name (no /api prefix)
      description: Search for stations by name (partial match supported)
      operationId: searchStationsShort
      parameters:
        - name: searchTerm
          in: path
          required: true
          schema:
            type: string
          example: "Jameson"
      responses:
        '200':
          description: List of matching stations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Station'

  /api/v2/stations/top:
    get:
      tags:
        - Stations
      summary: Get top 30 stations
      description: Returns top 30 stations ranked by service count (number of available services - 20 possible services)
      operationId: getTopStations
      responses:
        '200':
          description: Top stations by service count
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Station'
                    - type: object
                      properties:
                        serviceCount:
                          type: integer
                          description: Number of services available (max 20)
                          example: 20
                      required:
                        - serviceCount

  /v2/stations/top:
    get:
      tags:
        - Stations
      summary: Get top 30 stations (no /api prefix)
      description: Returns top 30 stations ranked by service count (number of available services - 20 possible services)
      operationId: getTopStationsShort
      responses:
        '200':
          description: Top stations by service count
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/schemas/Station'
                    - type: object
                      properties:
                        serviceCount:
                          type: integer
                          description: Number of services available (max 20)
                          example: 20
                      required:
                        - serviceCount

components:
  parameters:
    SystemName:
      name: systemName
      in: path
      required: true
      schema:
        type: string
      example: "Sol"
      description: Name of the star system (URL encoded for special characters)

    SystemAddress:
      name: systemAddress
      in: path
      required: true
      schema:
        type: integer
        format: int64
      example: 10477373803
      description: System address for disambiguation

    CommodityName:
      name: commodityName
      in: path
      required: true
      schema:
        type: string
      example: "gold"
      description: Commodity name (lowercase, no special characters)

    MinVolume:
      name: minVolume
      in: query
      schema:
        type: integer
        default: 1
      description: Minimum volume/stock

    MinPrice:
      name: minPrice
      in: query
      schema:
        type: integer
        default: 1
      description: Minimum price for imports

    MaxPrice:
      name: maxPrice
      in: query
      schema:
        type: integer
      description: Maximum price for exports

    FleetCarriers:
      name: fleetCarriers
      in: query
      schema:
        type: boolean
      description: |
        Filter by fleet carriers:
        - true: Only fleet carriers
        - false: Exclude fleet carriers
        - null/omitted: Include all

    MaxDaysAgo:
      name: maxDaysAgo
      in: query
      schema:
        type: integer
        default: 7
        maximum: 14
      description: Maximum age of data in days (trading data older than 2 weeks is unreliable)

    MaxDistance:
      name: maxDistance
      in: query
      schema:
        type: integer
        default: 100
        maximum: 500
      description: Maximum distance in light years

    MinLandingPadSize:
      name: minLandingPadSize
      in: query
      schema:
        type: integer
        enum: [1, 2, 3]
        default: 1
      description: |
        Minimum landing pad size:
        - 1: Small
        - 2: Medium
        - 3: Large

  schemas:
    EndpointsList:
      type: object
      properties:
        version:
          type: string
          example: "1.0.0"
        baseUrl:
          type: string
          example: "https://api.eddata.dev"
        totalEndpoints:
          type: integer
          example: 32
        note:
          type: string
          example: "All endpoints support dual patterns: /api/v2/* and /v2/*"
        categories:
          type: object
          properties:
            general:
              type: array
              items:
                $ref: '#/components/schemas/EndpointInfo'
            news:
              type: array
              items:
                $ref: '#/components/schemas/EndpointInfo'
            commodities:
              type: array
              items:
                $ref: '#/components/schemas/EndpointInfo'
            systems:
              type: array
              items:
                $ref: '#/components/schemas/EndpointInfo'
            stations:
              type: array
              items:
                $ref: '#/components/schemas/EndpointInfo'
            markets:
              type: array
              items:
                $ref: '#/components/schemas/EndpointInfo'
            search:
              type: array
              items:
                $ref: '#/components/schemas/EndpointInfo'
        timestamp:
          type: string
          format: date-time
          example: "2025-11-18T15:00:00Z"
      required:
        - version
        - baseUrl
        - totalEndpoints
        - categories
        - timestamp

    EndpointInfo:
      type: object
      properties:
        method:
          type: string
          enum: [GET, POST, PUT, DELETE, PATCH]
          example: "GET"
        path:
          type: string
          example: "/v2/version"
        description:
          type: string
          example: "Get API version"
      required:
        - method
        - path
        - description

    System:
      type: object
      properties:
        systemName:
          type: string
          example: "Sol"
        systemAddress:
          type: integer
          format: int64
          example: 10477373803
        systemX:
          type: number
          format: double
          example: 0.0
        systemY:
          type: number
          format: double
          example: 0.0
        systemZ:
          type: number
          format: double
          example: 0.0
        updatedAt:
          type: string
          format: date-time

    NearbySystem:
      allOf:
        - $ref: '#/components/schemas/System'
        - type: object
          properties:
            distance:
              type: number
              format: double
              description: Distance in light years

    Station:
      type: object
      properties:
        stationName:
          type: string
        stationType:
          type: string
        marketId:
          type: integer
          format: int64
        systemName:
          type: string
        systemAddress:
          type: integer
          format: int64
        systemX:
          type: number
          format: double
        systemY:
          type: number
          format: double
        systemZ:
          type: number
          format: double
        distanceToArrival:
          type: number
          format: double
          description: Distance from main star in light seconds
        maxLandingPadSize:
          type: string
          enum: [S, M, L]
        bodyId:
          type: integer
        bodyName:
          type: string
        latitude:
          type: number
          format: double
          description: Latitude coordinates on planetary body
        longitude:
          type: number
          format: double
          description: Longitude coordinates on planetary body
        primaryEconomy:
          type: string
          example: "HighTech"
        secondaryEconomy:
          type: string
          example: "Industrial"
        allegiance:
          type: string
          example: "Federation"
        government:
          type: string
          example: "Democracy"
        controllingFaction:
          type: string
          example: "Pilots Federation"
        blackMarket:
          type: integer
          enum: [0, 1]
          description: Has black market (1) or not (0)
        shipyard:
          type: integer
          enum: [0, 1]
          description: Has shipyard (1) or not (0)
        outfitting:
          type: integer
          enum: [0, 1]
          description: Has outfitting (1) or not (0)
        refuel:
          type: integer
          enum: [0, 1]
          description: Has refuel service (1) or not (0)
        repair:
          type: integer
          enum: [0, 1]
          description: Has repair service (1) or not (0)
        restock:
          type: integer
          enum: [0, 1]
          description: Has restock/rearm service (1) or not (0)
        contacts:
          type: integer
          enum: [0, 1]
          description: Has contact services (1) or not (0)
        crewLounge:
          type: integer
          enum: [0, 1]
          description: Has crew lounge (1) or not (0)
        interstellarFactors:
          type: integer
          enum: [0, 1]
          description: Has interstellar factors (1) or not (0)
        universalCartographics:
          type: integer
          enum: [0, 1]
          description: Has universal cartographics (1) or not (0)
        materialTrader:
          type: integer
          enum: [0, 1]
          description: Has material trader (1) or not (0)
        technologyBroker:
          type: integer
          enum: [0, 1]
          description: Has technology broker (1) or not (0)
        searchAndRescue:
          type: integer
          enum: [0, 1]
          description: Has search and rescue (1) or not (0)
        tuning:
          type: integer
          enum: [0, 1]
          description: Has tuning services (1) or not (0)
        missions:
          type: integer
          enum: [0, 1]
          description: Has mission board (1) or not (0)
        engineer:
          type: integer
          enum: [0, 1]
          description: Has engineer services (1) or not (0)
        frontlineSolutions:
          type: integer
          enum: [0, 1]
          description: Has Frontline Solutions (1) or not (0)
        apexInterstellar:
          type: integer
          enum: [0, 1]
          description: Has Apex Interstellar (1) or not (0)
        vistaGenomics:
          type: integer
          enum: [0, 1]
          description: Has Vista Genomics (1) or not (0)
        pioneerSupplies:
          type: integer
          enum: [0, 1]
          description: Has Pioneer Supplies (1) or not (0)
        bartender:
          type: integer
          enum: [0, 1]
          description: Has bartender (1) or not (0)
        prohibited:
          type: array
          items:
            type: string
          nullable: true
          description: JSON array of prohibited commodity names (e.g., ["OnionHeadC", "Slaves"]). NULL if no prohibitions or data unavailable. Only present in ~10-20% of stations (CAPI data only).
          example: ["OnionHeadC", "Slaves"]
        carrierDockingAccess:
          type: string
          nullable: true
          enum: ["all", "squadronFriends", "none", null]
          description: Fleet Carrier docking access level. "all" = public, "squadronFriends" = squadron & friends only, "none" = private, null = not a Fleet Carrier or data unavailable.
          example: "all"
        updatedAt:
          type: string
          format: date-time

    CommodityReport:
      type: object
      properties:
        commodityName:
          type: string
          example: "gold"
        maxBuyPrice:
          type: integer
          example: 59797
        minBuyPrice:
          type: integer
          example: 3979
        avgBuyPrice:
          type: integer
          example: 44441
        totalStock:
          type: integer
          format: int64
          example: 73016533
        maxSellPrice:
          type: integer
          example: 70761
        minSellPrice:
          type: integer
          example: 3978
        avgSellPrice:
          type: integer
          example: 48259
        totalDemand:
          type: integer
          format: int64
          example: 1899662825

    CommodityOrder:
      type: object
      properties:
        commodityName:
          type: string
        marketId:
          type: integer
          format: int64
        stationName:
          type: string
        stationType:
          type: string
        distanceToArrival:
          type: number
          format: double
        maxLandingPadSize:
          type: string
          enum: [S, M, L]
        bodyId:
          type: integer
        bodyName:
          type: string
        systemAddress:
          type: integer
          format: int64
        systemName:
          type: string
        systemX:
          type: number
          format: double
        systemY:
          type: number
          format: double
        systemZ:
          type: number
          format: double
        buyPrice:
          type: integer
        demand:
          type: integer
        demandBracket:
          type: integer
          minimum: 0
          maximum: 3
        meanPrice:
          type: integer
        sellPrice:
          type: integer
        stock:
          type: integer
        stockBracket:
          type: integer
          minimum: 0
          maximum: 3
        updatedAt:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: "Not Found"
            message: "The requested resource was not found"

  securitySchemes: {}

security: []
